# Titanic: Machine Learning from Disaster

In [39]:
# Data Analysis
import pandas as pd
import numpy as np

# Data visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Pre Processing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
                    
# Algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier

#Others
import warnings; warnings.simplefilter('ignore')

### Data Loading

In [40]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

### Data Exploration

In [41]:
#Train Dataframe
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [42]:
#Test Dataframe
test_df.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [43]:
#Train Database variables information
print('VARIABLES\nTRAIN DATASET\n')
print(titanic_train_df.info())
print('\n***********************************\n')
print('TESTE DATASET\n')
print(titanic_train_df.info())

VARIABLES
TRAIN DATASET

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

***********************************

TESTE DATASET

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [ ]:
plt.figure(figsize=(21, 6))
sns.boxplot(data=train_df, orient= 'h')
plt.show()

In [ ]:
sns.pairplot(train_df, palette="husl")
plt.show()

In [ ]:
sns.heatmap(train_df.corr() , annot=True)
plt.show()

### Data Pre Processing

In [ ]:
vars = ['Pclass','Sex','Age', 'SibSp', 'Parch', 'Fare','Embarked','Survived']
titanic_train_df = train_df[vars]

In [ ]:
age_mean = titanic_train_df['Age'].mean()
titanic_train_df = titanic_train_df.fillna({'Age' : age_mean })
titanic_train_df = titanic_train_df.dropna()

In [ ]:
sex_encoder = LabelEncoder()
embarked_encoder = LabelEncoder()
titanic_train_df['Sex'] = sex_encoder.fit_transform(titanic_train_df['Sex'])
titanic_train_df['Embarked'] = embarked_encoder.fit_transform(titanic_train_df['Embarked'])

In [ ]:
x_train = titanic_train_df.iloc[:,:-1]
y_train = titanic_train_df.iloc[:,-1]

In [ ]:
kbest = SelectKBest(chi2, k='all').fit(x_train,y_train)

In [ ]:
pd.DataFrame({ 'variables' : x_train.columns, 'scores' : kbest.scores_, 'prob' : kbest.pvalues_ }).sort_values('prob')

In [ ]:
x_train = x_train[['Fare', 'Sex', 'Pclass', 'Age']]

In [ ]:
standartscaler = StandardScaler()
x_train = standartscaler.fit_transform(x_train)

### Model Evaluation

In [ ]:
#Logistic Regerssion
params = {}
lr_model = GridSearchCV(LogisticRegression(), params, cv=5).fit(x_train, y_train)

In [ ]:
#Decision Tree
params = {}
et_model = GridSearchCV(DecisionTreeClassifier(), params, cv=5).fit(x_train, y_train)

In [ ]:
#Random Forest
params = {}
rf_model = GridSearchCV(RandomForestClassifier(), params, cv=5).fit(x_train, y_train)

In [ ]:
#KNN
params = {'n_neighbors' : [2,3,4,5]}
knn_model = GridSearchCV( KNeighborsClassifier(), params, cv=5).fit(x_train, y_train)

In [ ]:
#Naive Bayes
params = {}
gnb_model = GridSearchCV( GaussianNB(), params, cv=5).fit(x_train, y_train)

In [ ]:
#SVM
params = { 'kernel' : ['linear']}
svc_model = GridSearchCV(SVC(), params, cv=5).fit(x_train, y_train)

In [ ]:
#Neural Network
params = { 'hidden_layer_sizes': [(100)]}
mlp_model = GridSearchCV(MLPClassifier(),params, cv=5).fit(x_train, y_train)

In [ ]:
#Gradient Boosting
params = {}
gb_model = GridSearchCV(GradientBoostingClassifier(), params, cv=5).fit(x_train, y_train)

### Results

In [ ]:
results_df = pd.DataFrame({
    'Algorithm': ['LogisticRegression', 'DecisionTreeClassifier', 'RandomForestClassifier', 'KNeighborsClassifier', 'GaussianNB', 'SVC', 'MLPClassifier', 'GradientBoosting'],
    'Mean Train Score': [ lr_model.cv_results_['mean_train_score'], et_model.cv_results_['mean_train_score'], rf_model.cv_results_['mean_train_score'], knn_model.cv_results_['mean_train_score'].mean(), gnb_model.cv_results_['mean_train_score'], svc_model.cv_results_['mean_train_score'], mlp_model.cv_results_['mean_train_score'], gb_model.cv_results_['mean_train_score']],
    'Std Train Score': [ lr_model.cv_results_['std_train_score'], et_model.cv_results_['std_train_score'], rf_model.cv_results_['std_train_score'], knn_model.cv_results_['std_train_score'].mean(), gnb_model.cv_results_['std_train_score'], svc_model.cv_results_['std_train_score'], mlp_model.cv_results_['std_train_score'], gb_model.cv_results_['std_train_score']],
    'Mean Test Score': [ lr_model.cv_results_['mean_test_score'], et_model.cv_results_['mean_test_score'], rf_model.cv_results_['mean_test_score'], knn_model.cv_results_['mean_test_score'].mean(), gnb_model.cv_results_['mean_test_score'], svc_model.cv_results_['mean_test_score'], mlp_model.cv_results_['mean_test_score'], gb_model.cv_results_['mean_test_score']],
    'Std Test Score': [ lr_model.cv_results_['std_test_score'], et_model.cv_results_['std_test_score'], rf_model.cv_results_['std_test_score'], knn_model.cv_results_['std_test_score'].mean(), gnb_model.cv_results_['std_test_score'], svc_model.cv_results_['std_test_score'], mlp_model.cv_results_['std_test_score'], gb_model.cv_results_['std_test_score']]
})
results_df

### Model Creation

In [ ]:
model = Pipeline([
    ('column_transformer', ColumnTransformer([
        ('sex_encoder', LabelEncoder(), ["Sex"]),
        ('embarked_encoder', LabelEncoder(), ["Embarked"])
        ]))
])
model.fit_transform(x_train, y_train)

In [ ]:
a = ColumnTransformer([
        ('sex_encoder', OneHotEncoder(), ["Sex"])
        ])

In [ ]:
a.fit_transform(x_train, y_train)